* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

li {
  text-align: center;
  align-items: center;
  width: 180px;
  margin-left: 20px;

}
