* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 500px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

}

ul {
  margin-left: 15px;
}
li{
  margin-top: 10px;
}
